body{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(45deg,#051923
     0%,
  #003554 35%,
   #006494 100%); */
   background-color:#001d3d;
    animation:color 12s ease-in-out infinite;
    background-size: 300% 300%;
    
  }
  img{
    width: 10vw;
    height: 20vh;
  }
  